 .reservation__globalWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
svg {
    z-index: 1;
}

.lostTime {
    background-color: darken($color: #4c4b4b, $amount: 5);
    user-select: none;
}
.shadow__globalWrapper {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 40;
    background-color: rgb(53, 47, 47, 0.8);
    top: 0;
}
//.header__wrapper{
//     margin: 0 auto;
//     max-width: 100%;
//     margin-bottom: 0;
// }
.calendarTimer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    //background-color: rgb(114, 182, 160);
    .calendarTimer__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: darken($color: #939191, $amount: 5);
        border-radius: 50px;

    }
    .timeFromOutput__wrapper {
        font-size: 2vh;
        font-weight: bold;
        margin: 10px;
    }
    .timer__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        //width: 60vw;
        //height: 10vh;
        padding-top: 15px;
        .inner__rows {
            position: relative;
            font-size: 3vw;
        }
        
    }
}

.line__wrapper{
    display: flex;
    gap: 10px;
    max-width: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0px; /* ширина для вертикального скролла */
       // height: 8px; /* высота для горизонтального скролла */
        height: 0px; /* высота для горизонтального скролла */
        background-color: #143861;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #843465;
        border-radius: 9em;
        box-shadow: inset 1px 1px 10px #f3faf7;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #253861;
    }
    scroll-snap-type: x mandatory;
}

.hourBlock{
    display: flex;
    gap: 10px;
}

.hourTitleWrapper{
    scroll-snap-align: center;
    user-select: none;    
}

.shortLine {
    position: relative;
    z-index: 10;
    height: 10px;
    width: 2px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color:gold;
    }
    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        //background-color: #843465;
        width: 20px;
        height: 20px;
        left: -10px;
        top: 0;
    }
}
.longLine {
    position: relative;
    height: 15px;
    width: 2px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;    
    &:hover {
        background-color:gold;
    }
    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        //background-color: #843465;
        width: 20px;
        height: 20px;
        left: -10px;
        top: 0;
    }
}
.timeLine {
    position: relative;
    left: -10px;
    margin-top: 10px;
    font-weight: bold;
}

.preAfterBlocks{
    height: 15px;
    width: 100px;
    background-color: red;
    text-align: center;
}

.marked {
    background-color: gold;
    transform: scale(1.8);
    text-shadow: 0 0 10px rgb(53, 47, 47), 0 0 20px rgb(174, 145, 145), 0 0 30px red, 0 0 40px rgb(178, 172, 221);
}
.dateGuest__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    .date__input {
        border-radius: 5px;
    }
    .guest__input {
        border-radius: 5px;
        width: 30px;
        margin-left: 10px;
           
    }
    .guest__input_text{
        font-weight: bold;
    }
}

.hall__wrapper {
    display: flex;
    position: relative;
    //width: задается из JS
    //height: задается из JS
    margin-top: 10px;
    //border: 2px solid #000000;
    border-radius: 10px;
    //background: url('../templates/reservation/RegBG.svg');
    background: url('../templates/reservation/hall.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.hall__allTables{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 30;
    cursor: pointer;
    user-select: none;
}
.table__text {
    position: absolute;
    z-index: 2;
}
.hall__table1{
    width: 18%;
    top: 5%;
    left: 80%;
}
.hall__table2{
    width: 18%;
    top: 18%;
    left: 46%;
}
.hall__table3{
    width: 10%;
    top: 32%;
    left: 8%;
}
.hall__table4{
    width: 20%;
    top: 30%;
    left: 72%;
}
.hall__table5{
    width: 18%;
    top: 52%;
    left: 20%;
}
.hall__table6{
    width: 30%;
    top: 45%;
    left: 46%;
}
.hall__table7{
    width: 10%;
    top: 55%;
    left: 82%;
}
.hall__table8{
    width: 18%;
    top: 77%;
    left: 8%;
}
.hall__table9{
    transform: rotate(90deg);
    width: 10%;
    top: 82%;
    left: 48%;
    .table__text {
        transform: rotate(-90deg);
    }
}
.hall__table10{
    width: 18%;
    top: 77%;
    left: 76%;
}

.tableInfo__wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    z-index: 50;
    border: 2px solid #000000;
    border-radius: 10px;
    top: 40%;
    //height: 50vh;
    //width: 50vw;
    background-color: #939191;
    .infoBlock__wrapper{
        display: flex;
        justify-content: space-around;
        margin: 10px;
        .tableInfoBlock__number, 
        .tableInfoBlock__date, 
        .tableInfoBlock__count {
            padding: 3px;
            margin: 3px;
            border: 2px solid #000000;
            border-radius: 5px;
            background-color: darken($color: #939191, $amount: 10);
        }
    }
    .scheduleBlock__wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        .tableScheduleH__wrapper {
            display: flex;
            justify-content: space-between;
            margin: 3px;
            padding: 3px;
            border: 2px solid #000000;
            border-radius: 5px;
            .busyTable {
                color: rgb(255, 0, 0);
                background-color: #774444;
                margin-right: 10%;
                padding-left: 4px;
                padding-right: 4px;
                border-radius: 5px;

            }
            .scheduleH__time {
                background-color: #a79c9c;
                padding-left: 4px;
                padding-right: 4px;
                border-radius: 5px;
                font-weight: bold;
            }
            .scheduleH__status {   
                .reservation__button{
                    border-radius: 5px;
                }             
            }
        }
    }
}
.reservationReg__wrapper,
.reservationUnReg__wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    z-index: 70;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    top: 40%;
    //height: 50vh;
    //width: 50vw;
    background-color: #939191;
    .infoBlock__wrapper {
        display: flex;
        flex-direction: column;
        .tableNumber__wrapper {
            display: flex;
            justify-content: center;
            .tableNumber__output {
                padding: 3px;
                margin: 3px;
                border: 2px solid #000000;
                border-radius: 5px;
                background-color: darken($color: #939191, $amount: 10);
            }
        }
        .tableDetailsBlock__wrapper {
            display: flex;
            .tableDetailsBlock__date, 
            .tableDetailsBlock__time,
            .tableDetailsBlock__guests {
                padding: 3px;
                margin: 3px;
                border: 2px solid #000000;
                border-radius: 5px;
                background-color: darken($color: #939191, $amount: 10);
            }
        }
    }
    .durationBlock__wrapper {
        .dataBlock__wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px auto;
            .duration__block_input {
                width: 40px;
                border-radius: 5px;
                text-align: center;
                margin: auto 10px;
            }
        }
    }
    .errorBlock__wrapper,
    .errorBlock__wrapper_name,
    .errorBlock__wrapper_phone {
        margin: 10px;
        padding: 4px;
        border: 2px solid #000000;
        border-radius: 5px;
        background-color: #774444;
    }   

    .buttonBlock__wrapper {
        display: flex;
        .button__reservation {
            border-radius: 5px;
            font-size: 2vw;
            font-weight: bold;
        }
    }
}
