body{
    background-color: $backgroundMainPage;
    font-family: $mainFontFamily;
}

p{
    margin: 0;
}

.main{
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.wrap{
    position: relative;
}

.main-content{
    position: relative;
    z-index: 1;
}

.inf{
    // margin-left: 93px;
    // margin-right: 93px;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 5px white solid;
    margin-bottom: 36px;
}

.inf__text{
    margin-top: 26px;
    font-weight: 700;
    font-size: 30px;
    font-family: $secondFontFamily;
    padding-left: 50px;
}

.main-wrap{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.main-inf{
    max-width: 540px;
}

.main-inf__descr-p{
    font-size: 21px;
    line-height: 20px;
    font-weight: 400;
    font-family: $mainFontFamily;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.main-inf__descr-but{
    text-align: right;
    line-height: 25px;
    color: gray;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
    font-family: $mainFontFamily;
}
.main-inf__descr-but::before{
    content: 'In detail ';
}

.main-inf__addit{
    margin-top: 50px;
}

.main-inf__content{
    border-radius: 12px;
    background-color: #ffffff;
    color: black;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    //max-height: 330px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    //grid-template-rows: 1fr 1fr;
    margin-bottom: 5px;
}

.main-inf__item{
    position: relative;
    box-sizing: border-box;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.main-inf__img{
    width: 18px;
    position: absolute;
    left: 0px;
    top: 5px;
    filter: invert(65%) sepia(13%) saturate(297%) hue-rotate(174deg) brightness(94%) contrast(88%);
}

.main-inf__span{
    display: block;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: $mainFontFamily;
    margin-left: 30px;
}

.span_noBlock{
    display: inline;
}

.main-inf__wTime{
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-inf__Title{
    margin-top: 26px;
    font-weight: 700;
    font-size: 24px;
    font-family: $mainFontFamily;
}

.main-inf__wContent{
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 10px;
    background: white;
    @include flexStandard;
}

.main-inf__wItem{
    float: left;
    width: calc(100% / 7 - 1px);
    text-align: center;
    background-color: #fff;
}

.main-inf__wText{
    font-weight: 400;
    font-size: 20px;
    font-family: $mainFontFamily;
}

.wDay{
    margin-bottom: 15px;
}

.rColumn{
    padding: 10px;
    background-color: white;
    width: 217px;
    border-radius: 12px;
    position: sticky;
    top: 10px;
    background-color: #fff;
    margin-top: 26px;
    height: fit-content;
}

.rColumn-type{
    font-weight: 500;
    font-size: 20px;
    font-family: $mainFontFamily;
    letter-spacing: 1px;
}

.rColumn-map{
    width: 100%;
    height: 100px;
    //background-color: antiquewhite;
    margin: 20px 0px;
}

.rColumn-span{
    font-weight: 400;
    font-size: 18px;
    font-family: $mainFontFamily;
    margin-left: 5px;
}

.rColumn__address,
.rColumn__metro{
    display: flex;
    align-items: center; 
    margin-bottom: 20px;  
}

.mapClass{
    height: 300px;
}

.main-content_passive{
    background-color: black;
    opacity: 0.5;
}

@media screen and (max-width: 850px) {

    .main {
        max-width: 750px;
    }

    .main-wrap {
        flex-direction: column;
    }

    .rColumn {
        position: relative;
    }

    .main-inf {
        max-width: 100%;
    }

    .rColumn {
        width: 100%;
    }

    .rColumn-type {
        margin-bottom: 5px;
    }

    .rColumn__address, 
    .rColumn__metro {
        margin-top: 10px;
    }
}

@media screen and (max-width: 770px) {

    .main {
        max-width: 650px;
    }

    .inf__text {
        margin-left: 0px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 670px) {

    .main {
        max-width: 550px;
    }

    .inf__text {
        font-size: 25px;
    }

    .inf{
        margin-bottom: 20px;
    }

    .main-inf__descr-p {
        font-size: 18px;
    }

    .mapClass {
        height: 200px;
    }
}

@media screen and (max-width: 570px) {

    .main {
        max-width: 450px;
    }
}

@media screen and (max-width: 470px) {

    .main {
        max-width: 350px;
    }

    .inf__text {
        font-size: 20px;
    }

    .main-inf__wText {
        font-size: 18px;
    }
}

@media screen and (max-width: 370px) {

    .main {
        max-width: 300px;
    }

    .main-inf__wText {
        font-size: 16px;
    }
}