$first-main-color: #f4c430;
$mainFontFamily: 'Oswald', sans-serif;
$secondFontFamily: Arial, sans-serif;
$mainFontWeight: 300;
$mainFontSize: 25px;

//$backgroundMainPage: #dddbd8;
//$backgroundMainPage: #f4f4f3;
$backgroundMainPage: #fff6e8;
$mainBorderStyle: 2px solid #f4c430;

